<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

</body>
</html>
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<body>
<div th:replace="fragments/menu :: menu"></div>
<div class="container">
    <form action="#" th:action="@{/create/work}" th:object="${workSheet}" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sheetName">Worksheet Name</label>
                <input type="text" class="form-control" id="sheetName" th:field="*{sheetName}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="distanceFromYard">Distance From Yard</label>
                <input type="text" class="form-control" id="distanceFromYard" th:field="*{distanceFromYard}">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="workDuration">Work Duration</label>
            <input type="text" class="form-control" id="workDuration" th:field="*{workDuration}">
        </div>
        <div class="form-group col-md-6">
            <label for="startingWork">Work Starting Date</label>
            <input type="date" class="form-control" id="startingWork" th:field="*{startingWork}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="materialCost">Material Cost</label>
                <input type="number" class="form-control" id="materialCost" th:field="*{materialCost}">
            </div>
            <div class="form-group col-md-4">
                <label for="employ">Employee</label>
                <select id="employ" class="form-control" multiple size="5" th:field="*{employees}">
                    <option th:each="employ : ${employ}" th:value="${employ.id}"
                            th:text="${employ.employeeName}"></option>
                </select>
            </div>
        </div>
        <div>
            <br>
        </div>
        <button type="submit" class="btn btn-primary" th:text="Create">Sign in</button>
    </form>
</div>
<p th:text="${available}"></p>

</body>
</html>